.main {
    background: linear-gradient(180.00deg, rgb(33, 33, 33),rgb(16, 16, 16) 98.473%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-form {
    width: 450px;
    height: 456px;
    box-sizing: border-box;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 5px;
    background: rgb(31, 31, 31);
    padding: 49px 62px 28px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.form-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    align-self: flex-start;
    margin-bottom: 64px;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}
.form-input {
    width: 326px;
    height: 34px;
    border-radius: 5px;
    background: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0%;
    border: none;
    padding-left: 15px;
}
.form-input::placeholder {
    color: white;
}
.form-login-btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background: rgb(56, 56, 56);
    border: none;
    margin-bottom: 48px;
    padding: 13px 35px;
    cursor: pointer;
    transition: 0.5s;
}
.form-login-btn:hover {
    transform: scale(1.1);
}
.form-redirect-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.form-redirect-text {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
}
.form-redirect-signup-btn {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    cursor: pointer;
}
.forgot-password {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
}
.forgot-password:hover {
    text-decoration: underline;
}